version: '3.8'

services:
  # --------------------------------
  # 1. DB PRODUCT (Port 5432)
  # --------------------------------
  postgres_product:
    image: postgres:15-alpine
    container_name: pg_product
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: product_db
    ports:
      - "5432:5432" # Standard Port
    volumes:
      - pg_product_data:/var/lib/postgresql/data

  # --------------------------------
  # 2. DB CLIENT (Port 5433)
  # --------------------------------
  postgres_client:
    image: postgres:15-alpine
    container_name: pg_client
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: client_db
    ports:
      - "5433:5432" # Host Port 5433 -> Container Port 5432
    volumes:
      - pg_client_data:/var/lib/postgresql/data

  # --------------------------------
  # 3. DB ORDER (Port 5434)
  # --------------------------------
  postgres_order:
    image: postgres:15-alpine
    container_name: pg_order
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: order_db
    ports:
      - "5434:5432" # Host Port 5434 -> Container Port 5432
    volumes:
      - pg_order_data:/var/lib/postgresql/data

volumes:
  pg_product_data:
  pg_client_data:
  pg_order_data: