version: '3.8'

services:
  # --------------------------------
  # 1. POSTGRESQL DATABASE (Product)
  # --------------------------------
  postgres_product:
    image: postgres:15-alpine
    container_name: pg_product
    environment:
      # Celles-ci doivent correspondre à votre product-service.yml
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: product_db 
    ports:
      - "5432:5432" # Mappage de port Hôte:Conteneur
    volumes:
      - pg_product_data:/var/lib/postgresql/data # Stockage persistant

  # --------------------------------
  # 2. POSTGRESQL DATABASE (Client) - NOUVEAU
  # --------------------------------
  postgres_client:
    image: postgres:15-alpine
    container_name: pg_client
    environment:
      # Celles-ci doivent correspondre à votre ms-client.yml
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: client_db 
    ports:
      # IMPORTANT : Le port de l'hôte est 5433 car 5432 est déjà pris
      - "5433:5432" 
    volumes:
      - pg_client_data:/var/lib/postgresql/data # Stockage persistant séparé

  # Vous ajouterez Eureka, Config, et vos microservices de domaine ici plus tard
  # ...

volumes:
  pg_product_data: # Renommé pour plus de clarté
  pg_client_data:  # Ajout d'un nouveau volume pour les données client